{% extends 'base.html.twig' %}
{% block title %}L'équipe
{% endblock %}

{% block body %}

	<h1>La team</h1>
	{% for resultat in teams %}

		{% for keys,values in level %}

			{% for equipes in equipe %}
				{% if resultat == keys %}
					{% if equipes.cle == resultat %}
						{% for i in 0.. values %}
							&nbsp;	&nbsp;
						{% endfor %}

						<a href="/fiche/{{equipes.id}}">{{resultat}}</a> 
						=>
						{{equipes.label}} {{equipes.id}}<br>

					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endblock %}
