{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1> La team </h1>
{% for teams in team %}
    
<p>prénom : {{teams.firstname}}</p>
<p>nom : {{teams.lastname}} </p>
<p>Supérieur hiérachique : {{teams.supervisor}} </p>
{% endfor %}
{% endblock %}
