{% extends 'base.html.twig' %}

{% block title %}L'équipe
{% endblock %}

{% block body %}
	<h1>La team</h1>
	{% for teams in team %}
    {# {% for positions in position %} #}
			<p> {{teams.firstname}} {{teams.lastname}} </p>
			<p>Supérieur hiérachique : {{teams.supervisor}}</p>
			{# <p>Position : {{teams.positions}}</p> #}
		{# {% endfor %} #}
	{% endfor %}
{% endblock %}

