{% extends 'base.html.twig' %}


{% block title %}L'équipe
{% endblock %}

{% block body %}
	<h1>La team</h1>
	{% for resultat in result %}
		{% for keys,value in level %}
			{% if resultat == keys %}
				{% for i in 0.. value %}
					&nbsp;	&nbsp;
				{% endfor %}
				{{resultat}}<br>
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}
