{% extends 'base.html.twig' %}


{% block title %}L'équipe
{% endblock %}

{% block body %}
	<h1>La team</h1>
	{% for levels in level %}
		{% for users in user %}
			{% set flag = true %}
			{% if levels == 0  %}
				<li>chef :
					{{users}}
					<br></li>
			{% elseif levels == 1  %}
				<li>----- adjoint :
					{{users}}
					<br></li>
			{% else %}
				<li>---------- stagiaire :
					{{users}}
					<br></li>
			{% endif %}
			{# {% endset %} #}
		{% endfor %}
	{% endfor %}

{% endblock %}
